Repository tropnikov/echo-runner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, stylelint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,css}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true
    stylelint:
      glob: '*.css'
      run: yarn stylelint {staged_files} --fix
      stage_fixed: true
    typecheck:
      glob: '*.{ts,tsx}'
      run: yarn typecheck

feat(ECH-40): add helmet to all pages
  packages/client/src/App.tsx
  packages/client/src/components/ErrorPage/ErrorPage.tsx
  packages/client/src/components/ErrorPage/types.ts
  packages/client/src/constants/siteConfig.ts
  packages/client/src/pages/Forum/Topic.tsx
  packages/client/src/pages/Forum/TopicList.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/LeaderboardPage/LeaderboardPage.tsx
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/pages/NotFound/NotFound.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/ServerError/ServerError.tsx
Due: lint, prettier, typecheck

feat(ECH-40): fix ssr cookies on localhost
  packages/client/server/index.ts
  packages/client/src/constants/apiEndpoint.ts
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.ts
  packages/client/src/hooks/useAuthCheck.ts
  packages/client/src/redux/api.ts
  packages/client/src/routesConfig.tsx
  packages/client/src/types/pageContext.ts
Due: lint, prettier, typecheck

feat(ECH-40): fix tests
  packages/client/jest.setup.ts
  packages/client/src/pages/Game/Game.test.tsx
Due: lint, prettier, typecheck

feat(ECH-41): added sso (#35)
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/hooks/useAuthCheck.ts
  packages/client/src/hooks/useYandexOAuth.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Registration/Registration.tsx
Due: lint, prettier, typecheck

fix(ECH-54): fix useYandexOAuth in SSR
  packages/client/src/hooks/useYandexOAuth.ts
Due: lint, prettier, typecheck

fix(ECH-54): fix DRY on condition
  packages/client/src/hooks/useYandexOAuth.ts
Due: lint, prettier, typecheck

fix(ECH-54): fix useYandexOAuth in SSR (#39)
  packages/client/src/hooks/useYandexOAuth.ts
Due: lint, prettier, typecheck

get topic list
  packages/client/src/constants/apiEndpoint.ts
  packages/client/src/hooks/useTopicList.ts
  packages/client/src/pages/Forum/TopicList.tsx
  packages/client/src/sw.ts
  packages/client/src/types/Forum.ts
Due: lint, prettier, typecheck

feat: Добавлена поддержка тем, добавлена темная тема
  packages/client/src/App.tsx
  packages/client/src/components/BaseLayout/BaseLayout.module.css
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/components/ErrorPage/ErrorPage.module.css
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/MainPage/FeatureCard.module.css
  packages/client/src/components/MainPage/GalleryBlock.module.css
  packages/client/src/components/MainPage/HeroBlock.module.css
  packages/client/src/components/MainPage/HeroBlock.tsx
  packages/client/src/index.css
  packages/client/src/pages/Login/Login.module.css
  packages/client/src/pages/Registration/registration.module.css
  packages/client/src/themes/darkTheme.ts
Due: lint, prettier, stylelint, typecheck

refactor: Удалены неиспользуемые стили
  packages/client/src/components/BaseLayout/BaseLayout.module.css
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/components/ErrorPage/ErrorPage.module.css
  packages/client/src/components/MainPage/FeatureCard.module.css
  packages/client/src/pages/Login/Login.module.css
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/Registration/registration.module.css
Due: lint, prettier, stylelint, typecheck

feat: Добавлена светлая тема и обновлены стили компонентов
  packages/client/src/App.tsx
  packages/client/src/components/BaseLayout/BaseLayout.module.css
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/components/MainPage/HeroBlock.module.css
  packages/client/src/themes/lightTheme.ts
Due: lint, prettier, stylelint, typecheck

feat: Добавлено API для работы с темами, хук для управления темами и интеграция с Redux store
  packages/client/src/App.tsx
  packages/client/src/api/themeApi.ts
  packages/client/src/api/themeMock.ts
  packages/client/src/hooks/useTheme.ts
  packages/client/src/redux/store.ts
  packages/client/src/types/Theme.ts
Due: lint, prettier, typecheck

feat(ECH-40): review remarks
  .env.sample
  packages/client/server/index.ts
  packages/client/src/components/ErrorPage/ErrorPage.tsx
  packages/client/src/components/ErrorPage/types.ts
  packages/client/src/hocs/withMeta.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/Forum/Topic.tsx
  packages/client/src/pages/Forum/TopicList.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/LeaderboardPage/LeaderboardPage.tsx
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/pages/NotFound/NotFound.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/ServerError/ServerError.tsx
  packages/client/src/routesConfig.tsx
  packages/client/src/types/Meta.ts
  yarn.lock
Due: lint, prettier, typecheck

feat(ECH-40): Настроить Redux и Router в SSR. 7.2 (#38)
  .env.sample
  packages/client/index.html
  packages/client/jest.setup.ts
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/server/types.ts
  packages/client/src/App.tsx
  packages/client/src/constants/apiEndpoint.ts
  packages/client/src/constants/siteConfig.ts
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.ts
  packages/client/src/hocs/withMeta.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/Forum/Topic.tsx
  packages/client/src/pages/Forum/TopicList.tsx
  packages/client/src/pages/Game/Game.test.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/LeaderboardPage/LeaderboardPage.tsx
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/pages/NotFound/NotFound.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/ServerError/ServerError.tsx
  packages/client/src/redux/api.ts
  packages/client/src/redux/store.ts
  packages/client/src/routes.tsx
  packages/client/src/routesConfig.tsx
  packages/client/src/sw.ts
  packages/client/src/types/Meta.ts
  packages/client/src/types/pageContext.ts
  packages/client/tsconfig.server.json
  yarn.lock
Due: lint, prettier, typecheck

added api calls
  packages/client/src/api/apiForum.ts
  packages/client/src/constants/apiEndpoint.ts
  packages/client/src/hooks/useTopic.ts
  packages/client/src/hooks/useTopicList.ts
  packages/client/src/pages/Forum/Topic.tsx
  packages/client/src/pages/Forum/TopicList.tsx
  packages/client/src/types/Forum.ts
Due: lint, prettier, typecheck

feat: Добавлен переключатель тем, обновлен хук useTheme и сделан рефакторинг
  packages/client/src/App.tsx
  packages/client/src/api/themeApi.ts
  packages/client/src/api/themeMock.ts
  packages/client/src/components/BaseLayout/BaseLayout.module.css
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/hooks/useTheme.ts
  packages/client/src/types/themes.ts
  packages/client/tsconfig.server.json
Due: lint, prettier, stylelint, typecheck

fix errors
  packages/client/src/api/apiForum.ts
  packages/client/src/hooks/useTopicList.ts
  packages/client/src/pages/Forum/TopicList.tsx
Due: lint, prettier, typecheck

refactor: Обновлены скрипты запуска и конфиг typescript для ssr
  packages/client/package.json
  packages/client/tsconfig.json
  packages/client/tsconfig.server.json
Due: none

feat: create forum api
  .env.sample
  docker-compose.yml
  packages/server/.gitignore
  packages/server/constants/createCommentValidation.ts
  packages/server/constants/createTopicValidation.ts
  packages/server/constants/getCommentsValidation.ts
  packages/server/constants/getTopicByIdValidation.ts
  packages/server/constants/getTopicsValidation.ts
  packages/server/constants/serverErrorMessage.ts
  packages/server/controllers/comments.ts
  packages/server/controllers/topics.ts
  packages/server/db.ts
  packages/server/errors/NotFoundError.ts
  packages/server/index.ts
  packages/server/middlewares/centralErrorHandler.ts
  packages/server/middlewares/logger.ts
  packages/server/middlewares/xssMiddleware.ts
  packages/server/models/comment.ts
  packages/server/models/topic.ts
  packages/server/package.json
  packages/server/routes/comment.ts
  packages/server/routes/index.ts
  packages/server/routes/topic.ts
  packages/server/tsconfig.json
  packages/server/types/AppError.ts
  yarn.lock
Due: lint, prettier, typecheck

feat: add count to get requests
  packages/server/constants/createCommentValidation.ts
  packages/server/constants/createTopicValidation.ts
  packages/server/controllers/comments.ts
  packages/server/controllers/topics.ts
  packages/server/models/comment.ts
  packages/server/models/topic.ts
Due: lint, prettier, typecheck

fix: changed env.sample for correct db name
  .env.sample
Due: none

feat(ECH-43): Добавить ещё одно WEB API (кроме Canvas, Fetch) (#36)
  packages/client/jest.config.js
  packages/client/jest.setup.ts
  packages/client/package.json
  packages/client/src/components/GameView/GameView.module.css
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/components/PerformancePanel/PerformancePanel.module.css
  packages/client/src/components/PerformancePanel/PerformancePanel.tsx
  packages/client/src/helpers/perfUtils.ts
  packages/client/src/hooks/usePerformanceStats.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Game/Game.test.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/hooks/useGameSetup.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.server.json
  yarn.lock
Due: lint, prettier, stylelint, typecheck

fix: changed nginx to node
  Dockerfile.client
  docker-compose.yml
  packages/client/package.json
  packages/client/server/index.ts
Due: lint, prettier, typecheck

fix: correct naming
  docker-compose.yml
Due: none

update all functions
  packages/client/src/api/apiForum.ts
  packages/client/src/constants/apiEndpoint.ts
  packages/client/src/hooks/useTopic.ts
  packages/client/src/hooks/useTopicList.ts
  packages/client/src/pages/Forum/Topic.tsx
  packages/client/src/pages/Forum/TopicList.tsx
  packages/client/src/types/Forum.ts
Due: lint, prettier, typecheck

feat(ECH-48): добавлен middleware для авторизации
  packages/server/index.ts
  packages/server/middlewares/authMiddleware.ts
  packages/server/package.json
Due: lint, prettier, typecheck

fix: changed instruction for local development
  README.md
Due: none

fix(ECH-48): сменён код ответа с 401 на 403
  packages/server/middlewares/authMiddleware.ts
Due: lint, prettier, typecheck

feat(ECH-48): middleware авторизации возвращает id и login пользователя
  packages/server/index.ts
  packages/server/middlewares/authMiddleware.ts
  packages/server/package.json
  yarn.lock
Due: lint, prettier, typecheck

feat: Добавлено определение системной темы и установка с учетом нее дефолтной темы сайта, добавлен селектор для id пользователя
  packages/client/src/hooks/useTheme.ts
  packages/client/src/redux/selectors/auth.ts
Due: lint, prettier, typecheck

fix: Исправлена ошибка с цветом фона на экране старта игры
  packages/client/src/components/GameView/GameView.module.css
Due: prettier, stylelint

feat(ECH-47): Переключение тем (клиентская часть) (#41)
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/api/themeApi.ts
  packages/client/src/api/themeMock.ts
  packages/client/src/components/BaseLayout/BaseLayout.module.css
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/components/GameView/GameView.module.css
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/MainPage/FeatureCard.module.css
  packages/client/src/components/MainPage/GalleryBlock.module.css
  packages/client/src/components/MainPage/HeroBlock.module.css
  packages/client/src/components/MainPage/HeroBlock.tsx
  packages/client/src/hooks/useTheme.ts
  packages/client/src/index.css
  packages/client/src/pages/Login/Login.module.css
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/Registration/registration.module.css
  packages/client/src/redux/selectors/auth.ts
  packages/client/src/redux/store.ts
  packages/client/src/themes/darkTheme.ts
  packages/client/src/themes/lightTheme.ts
  packages/client/src/types/themes.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.server.json
Due: lint, prettier, stylelint, typecheck

feat: add auth data in controllers
  .gitignore
  packages/server/.gitignore
  packages/server/constants/authFailMessage.ts
  packages/server/constants/cookieNotFoundMessage.ts
  packages/server/constants/createdCode.ts
  packages/server/constants/getUserURL.ts
  packages/server/constants/topicNotFoundErrorMessage.ts
  packages/server/controllers/comments.ts
  packages/server/controllers/topics.ts
  packages/server/db.ts
  packages/server/errors/ForbiddenError.ts
  packages/server/index.ts
  packages/server/middlewares/authMiddleware.ts
  packages/server/middlewares/centralErrorHandler.ts
  packages/server/package.json
  packages/server/routes/comment.ts
  packages/server/routes/index.ts
  packages/server/routes/topic.ts
  packages/server/types/ExpressUpdate.d.ts
  packages/server/types/ProtectedRequest.ts
  packages/server/types/User.ts
  packages/server/utils/withAuth.ts
  yarn.lock
Due: lint, prettier, typecheck

add auth middlware
  packages/server/constants/createCommentValidation.ts
  packages/server/constants/createTopicValidation.ts
  packages/server/index.ts
  packages/server/middlewares/authMiddleware.ts
  packages/server/tsconfig.json
Due: lint, prettier, typecheck

fix(server): включены глобальные типы Express в tsconfig
  packages/server/index.ts
  packages/server/middlewares/authMiddleware.ts
  packages/server/package.json
  packages/server/tsconfig.json
  packages/server/types/User.ts
  packages/server/types/express.d.ts
Due: lint, prettier, typecheck

fix(server): включены глобальные типы Express в tsconfig
  yarn.lock
Due: none

fix(server): подключен глобальный тип ExpressUpdate в tsconfig
  packages/server/tsconfig.json
  packages/server/types/ExpressUpdate.d.ts
Due: lint, prettier, typecheck

docs: add memory leaks report
  memoryLeaks/31.08.2025/memory_screenshot.jpg
  memoryLeaks/31.08.2025/performance_screenshot.jpg
  memoryLeaks/MEMORYLEAKS.md
Due: none

front for forum api
  packages/client/src/api/apiForum.ts
  packages/client/src/components/Forum/TopicModal.tsx
  packages/client/src/helpers/dateformat.ts
  packages/client/src/hooks/useComments.ts
  packages/client/src/hooks/useTopic.ts
  packages/client/src/hooks/useTopicList.ts
  packages/client/src/pages/Forum/Topic.tsx
  packages/client/src/pages/Forum/TopicList.tsx
  packages/client/src/types/Forum.ts
Due: lint, prettier, typecheck
