Repository tropnikov/echo-runner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, stylelint, typecheck

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

stylelint:
  run: yarn stylelint {staged_files} --fix
  stage_fixed: true

typecheck:
  run: yarn typecheck

dev to prod (#60)
  Caddyfile
  Caddyfile.dev
  Dockerfile.client
  README.md
  docker-compose.yml
  docs/XSS_REPORT.md
  packages/client/jest.config.js
  packages/client/src/App.tsx
  packages/client/src/components/Forum/TopicModal.tsx
  packages/client/src/components/Forum/TopicReactionsSummary.tsx
  packages/client/src/components/GameView/GameView.module.css
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/components/PlayButton/PlayButton.tsx
  packages/client/src/constants/tourWatched.ts
  packages/client/src/hooks/useTopic.ts
  packages/client/src/hooks/useTopicList.ts
  packages/client/src/pages/Forum/Topic.tsx
  packages/client/src/pages/Forum/TopicList.tsx
  packages/client/src/pages/Forum/TopicReactions.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/assets/sound/boom.mp3
  packages/client/src/pages/Game/assets/sound/jump-up.mp3
  packages/client/src/pages/Game/assets/sound/main.mp3
  packages/client/src/pages/Game/assets/sound/score.mp3
  packages/client/src/pages/Game/engine/Coin.ts
  packages/client/src/pages/Game/engine/EventBus.ts
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/SoundEngine.ts
  packages/client/src/pages/Game/engine/config/gameConfig.ts
  packages/client/src/pages/Game/engine/config/playerAnimations.ts
  packages/client/src/pages/Game/engine/types.ts
  packages/client/src/pages/Game/hooks/useGameSetup.ts
  packages/client/src/types/Forum.ts
  packages/client/vite.config.ts
  packages/server/controllers/reactions.ts
  packages/server/controllers/topics.ts
  packages/server/models/reaction.ts
Due: lint, prettier, stylelint, typecheck

fix: update vite due to cve
  yarn.lock
Due: none

fix: csp
  Caddyfile
  packages/client/package.json
Due: none

fix: server port was undefined in client
  Dockerfile.client
  Dockerfile.client.dev
  docker-compose.dev.yml
  docker-compose.yml
  packages/client/src/App.tsx
Due: lint, prettier, typecheck

fix: sw on prod
  packages/client/package.json
  packages/client/vite.config.ts
Due: lint, prettier, typecheck

fix: define server port in gha
  .github/workflows/build_and_push.yml
  Dockerfile.server
  packages/client/vite.config.ts
Due: lint, prettier, typecheck

fix: sw
  packages/client/package.json
  packages/client/vite.config.ts
  yarn.lock
Due: lint, prettier, typecheck

fix: post in sw, remote images not loading due to csp
  packages/client/src/assets/.keep
  packages/client/src/assets/1.jpeg
  packages/client/src/assets/2.jpeg
  packages/client/src/assets/3.jpeg
  packages/client/src/assets/4.jpeg
  packages/client/src/assets/avatar1.jpg
  packages/client/src/assets/avatar2.jpg
  packages/client/src/assets/avatar3.jpg
  packages/client/src/assets/hero.jpeg
  packages/client/src/components/MainPage/HeroBlock.tsx
  packages/client/src/constants/galleryImages.ts
  packages/client/src/constants/userReviews.ts
  packages/client/src/sw.ts
Due: lint, prettier, typecheck

fix: fix tests
  packages/client/jest.config.js
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,css}
  stylelint: any of: *.css
  typecheck: any of: *.{ts,tsx}
