Repository tropnikov/echo-runner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, stylelint, typecheck

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

stylelint:
  run: yarn stylelint {staged_files} --fix
  stage_fixed: true

typecheck:
  run: yarn typecheck

feat: Добавлен caddy, правки для production сборки. Вынесен домен в env переменную и внесены правки в проект для ее использования
  .env.sample
  .gitignore
  Caddyfile
  Caddyfile.dev
  Dockerfile.client
  docker-compose.dev.yml
  docker-compose.yml
  packages/client/server/index.ts
  packages/client/src/App.tsx
  packages/client/src/constants/apiEndpoint.ts
  packages/client/src/redux/api.ts
  packages/server/controllers/userTheme.ts
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: lint, prettier, typecheck

feat(ECH-59): add build and push workflow (#54)
  .github/workflows/build_and_push.yml
Due: none

feat(ECH-56): add domain
  .env.sample
Due: none

feat(ECH-56): fix tests, mock import.meta for jest
  packages/client/jest.config.js
  packages/client/jest.setup.ts
  packages/client/src/constants/apiEndpoint.ts
Due: lint, prettier, typecheck

feat(ECH-56): Конфиг для caddy (HTTP2, SSL) (#56)
  .env.sample
  .gitignore
  Caddyfile
  Caddyfile.dev
  Dockerfile.client
  docker-compose.dev.yml
  docker-compose.yml
  packages/client/jest.config.js
  packages/client/jest.setup.ts
  packages/client/server/index.ts
  packages/client/src/App.tsx
  packages/client/src/constants/apiEndpoint.ts
  packages/client/src/redux/api.ts
  packages/server/controllers/userTheme.ts
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: lint, prettier, typecheck

fix(ECH-59): fix docker images
  Caddyfile
  Caddyfile.dev
  docker-compose.dev.yml
  docker-compose.yml
Due: none

fix: cookie domain
  .env.sample
  Dockerfile.server
  docker-compose.dev.yml
  docker-compose.yml
  packages/client/server/index.ts
  packages/client/src/App.tsx
  packages/client/src/redux/api.ts
Due: lint, prettier, typecheck

feat: add build caddy on push with correct caddyfile
  .github/workflows/build_and_push.yml
  Dockerfile.caddy
Due: none

feat: Dockerfile.caddy
  Dockerfile.caddy
Due: none

feat: enable brotli
  Caddyfile
  Caddyfile.dev
Due: none

feat: disable brotli
  Caddyfile
  Caddyfile.dev
Due: none

fix: request to api, add vite_app_domain
  .github/workflows/build_and_push.yml
  Dockerfile.client
Due: none

fix: app domain for vite
  packages/client/src/constants/apiEndpoint.ts
  packages/client/src/constants/domain.ts
Due: lint, prettier, typecheck

feat(ECH-62): require name and comment on topic creation
  packages/client/src/components/Forum/TopicModal.tsx
Due: lint, prettier, typecheck

doc: add xss report
  XSS_REPORT.md
Due: none

caddy: добавлены dev/prod конфиги с CSP
  Caddyfile
  Caddyfile.dev
  docs/ContentSecurityPolicy.md
  packages/client/vite.config.ts
Due: lint, prettier, typecheck

added CSP.md to docs
  docs/ContentSecurityPolicy.md
  packages/client/vite.config.ts
Due: lint, prettier, typecheck

fix: CORS for dev
  packages/server/index.ts
Due: lint, prettier, typecheck

feat(ECH-63): add tour, delete coins on collect, add double jump
  packages/client/src/App.tsx
  packages/client/src/components/GameView/GameView.module.css
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/components/PlayButton/PlayButton.tsx
  packages/client/src/constants/tourWatched.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/Coin.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/config/gameConfig.ts
  packages/client/src/pages/Game/engine/types.ts
Due: lint, prettier, stylelint, typecheck

refactor: move file to docs folder
  README.md
  docs/XSS_REPORT.md
Due: none

DOCS(ECH-58): Добавить защиту от XSS (#57)
  README.md
  docs/XSS_REPORT.md
Due: none

feat: add workflow for main
  .github/workflows/build_and_push_main.yml
Due: none

feat(ECH-63): fix jumping sprite height, edit tour text
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/pages/Game/engine/config/playerAnimations.ts
Due: lint, prettier, typecheck

fix: fix duplicate key in jest config
  packages/client/jest.config.js
Due: none

feat(ECH-63): Доработать механики игры (#59)
  packages/client/src/App.tsx
  packages/client/src/components/GameView/GameView.module.css
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/components/PlayButton/PlayButton.tsx
  packages/client/src/constants/tourWatched.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/Coin.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/config/gameConfig.ts
  packages/client/src/pages/Game/engine/config/playerAnimations.ts
  packages/client/src/pages/Game/engine/types.ts
Due: lint, prettier, stylelint, typecheck

Caddy dev: CSP/headers без /api прокси, проверка успешна, внесены правки
  Caddyfile
  Caddyfile.dev
  docs/ContentSecurityPolicy.md
  packages/client/vite.config.ts
Due: lint, prettier, typecheck

added Caddy info to readme
  README.md
Due: none

caddy: исправлены конфиги (email, /api/v1 в dev, убран encode); readme подчистил
  Caddyfile
  Caddyfile.dev
  README.md
Due: none

Feature/ech 55 (#58)
  Caddyfile
  Caddyfile.dev
  README.md
  packages/client/vite.config.ts
Due: lint, prettier, typecheck

fix: csp for inline styles
  Caddyfile
Due: none

fix: csp for images
  Caddyfile
Due: none

refactor(ECH-62): Рефакторинг и доработка реакций (#53)
  packages/client/src/components/Forum/TopicModal.tsx
  packages/client/src/components/Forum/TopicReactionsSummary.tsx
  packages/client/src/hooks/useTopic.ts
  packages/client/src/hooks/useTopicList.ts
  packages/client/src/pages/Forum/Topic.tsx
  packages/client/src/pages/Forum/TopicList.tsx
  packages/client/src/pages/Forum/TopicReactions.tsx
  packages/client/src/types/Forum.ts
  packages/server/controllers/reactions.ts
  packages/server/controllers/topics.ts
  packages/server/models/reaction.ts
Due: lint, prettier, typecheck

feat: serve static assets via caddy, add basic auth for pgadmin
  Caddyfile
  Dockerfile.client
Due: none

fix: move hashed password to env
  Caddyfile
  docker-compose.yml
Due: none

fix: pgadmin uri
  Caddyfile
  docker-compose.yml
Due: none

feat: Добавлены звуки и фоновая музыка
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/assets/sound/boom.mp3
  packages/client/src/pages/Game/assets/sound/jump-on-ground.mp3
  packages/client/src/pages/Game/assets/sound/jump-up.mp3
  packages/client/src/pages/Game/assets/sound/main.mp3
  packages/client/src/pages/Game/assets/sound/score.mp3
  packages/client/src/pages/Game/engine/EventBus.ts
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/SoundEngine.ts
  packages/client/src/pages/Game/engine/types.ts
Due: lint, prettier, typecheck

fix: Падали тесты
  packages/client/jest.config.js
  packages/client/src/pages/Game/engine/SoundEngine.ts
Due: lint, prettier, typecheck

fix(ECH-64): remove sound on ground touch, remove console.log, add sound to tour, clean up events subscriptions
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/pages/Game/assets/sound/jump-on-ground.mp3
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/SoundEngine.ts
  packages/client/src/pages/Game/engine/types.ts
  packages/client/src/pages/Game/hooks/useGameSetup.ts
Due: lint, prettier, typecheck

feat(ECH-64): Добавлены звуки и фоновая музыка (#61)
  packages/client/jest.config.js
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/assets/sound/boom.mp3
  packages/client/src/pages/Game/assets/sound/jump-up.mp3
  packages/client/src/pages/Game/assets/sound/main.mp3
  packages/client/src/pages/Game/assets/sound/score.mp3
  packages/client/src/pages/Game/engine/EventBus.ts
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/SoundEngine.ts
  packages/client/src/pages/Game/engine/types.ts
  packages/client/src/pages/Game/hooks/useGameSetup.ts
Due: lint, prettier, typecheck

docs: clean up readme
  README.md
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,css}
  stylelint: any of: *.css
  typecheck: any of: *.{ts,tsx}
