Repository tropnikov/echo-runner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, stylelint, typecheck

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

stylelint:
  run: yarn stylelint {staged_files} --fix
  stage_fixed: true

typecheck:
  run: yarn typecheck

feat(ECH-23): поднял версию node до 20 в github actions
  .github/workflows/checks.yml
Due: none

fix(ECH-23): исправил тесты для jest
  packages/client/jest.config.js
  packages/client/package.json
  yarn.lock
Due: none

feat(ECH-23): добавил заголовок сайта
  packages/client/index.html
Due: none

change node version in test 16 => 20
  .github/workflows/checks.yml
Due: none

remove example test
  packages/client/src/App.test.tsx
Due: lint, prettier, typecheck

fix react router dependencies in test
  packages/client/jest.config.js
  packages/client/jest.setup.ts
  packages/client/src/App.test.tsx
Due: lint, prettier, typecheck

feat: Создана базовая механика игры на Canvas API
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/Coin.ts
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/engine/GameObject.ts
  packages/client/src/pages/Game/engine/Obstacle.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/config.ts
  packages/client/src/pages/Game/engine/types.ts
  packages/client/src/pages/Game/index.ts
  packages/client/src/pages/Game/styles.css
Due: lint, prettier, stylelint, typecheck

fix: Применил новые настройки prettier
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/Coin.ts
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/engine/GameObject.ts
  packages/client/src/pages/Game/engine/Obstacle.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/config.ts
  packages/client/src/pages/Game/engine/types.ts
  packages/client/src/pages/Game/index.ts
Due: lint, prettier, typecheck

feat(ECH-23): добавляет базовый ui слой – antd, layout, stylelint (#6)
  .github/workflows/checks.yml
  README.md
  lefthook.yml
  package.json
  packages/client/.stylelintignore
  packages/client/.stylelintrc.json
  packages/client/index.html
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/postcss.config.cjs
  packages/client/src/App.tsx
  packages/client/src/api/.keep
  packages/client/src/components/BaseLayout/BaseLayout.module.css
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/helpers/breakpoints.css
  packages/client/src/hooks/.keep
  packages/client/src/index.css
  packages/client/src/pages/.keep
  packages/client/src/types/.keep
  yarn.lock
Due: lint, prettier, stylelint, typecheck

feat(ECH-25): добавляет redux-toolkit, rtk query, генерацию апи
  .eslintrc.js
  package.json
  packages/client/package.json
  packages/client/src/api/.keep
  packages/client/src/api/generated/apiConfig.cjs
  packages/client/src/api/generated/index.ts
  packages/client/src/api/openapiSchema.json
  packages/client/src/main.tsx
  packages/client/src/redux/api.ts
  packages/client/src/redux/store.ts
  yarn.lock
Due: lint, prettier, typecheck

fix: Убраны неиспользуемые свойства и стили перенесены в css modules
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/styles.module.css
Due: lint, prettier, stylelint, typecheck

update dependencies
  yarn.lock
Due: none

add Data Mode into react router
  packages/client/src/main.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

use routing in navbar
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/constants/appRoutes.ts
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

fix dependencies
  packages/client/src/App.tsx
Due: lint, prettier, typecheck

fix example
  packages/client/src/App.test.tsx
Due: lint, prettier, typecheck

coding style
  packages/client/src/components/Forum/TopicModal.tsx
  packages/client/src/pages/Forum/Topic.tsx
  packages/client/src/pages/Forum/TopicList.tsx
Due: lint, prettier, typecheck

fix: Исправлены стили, добавлена кнопка для начала игры, убран фокус с кнопок, рефакторинг кода
  packages/client/src/components/GameView/GameView.module.css
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/hooks/useGameSetup.ts
  packages/client/src/pages/Game/hooks/useKeyboardControls.ts
  packages/client/src/pages/Game/index.ts
Due: lint, prettier, stylelint, typecheck

add error boundary
  packages/client/src/App.tsx
  packages/client/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
Due: lint, prettier, typecheck

fix: Исправлен импорт иконок и удалены неиспользуемые файлы
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/pages/Game/styles.module.css
Due: lint, prettier, stylelint, typecheck

docs(ECH-24): исправил название ветки в Readme
  README.md
Due: none

Update jest.config.js
  packages/client/jest.config.js
Due: none

docs(ECH-24): исправил название ветки в Readme (#12)
  README.md
Due: none

feat(ECH-24): добавляет ветку dev, добавляет проверку типов (#5)
  .eslintrc.js
  .github/workflows/checks.yml
  README.md
  lefthook.yml
  package.json
  packages/client/.stylelintignore
  packages/client/.stylelintrc.json
  packages/client/index.html
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/postcss.config.cjs
  packages/client/src/App.tsx
  packages/client/src/api/.keep
  packages/client/src/components/BaseLayout/BaseLayout.module.css
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/helpers/breakpoints.css
  packages/client/src/hooks/.keep
  packages/client/src/index.css
  packages/client/src/pages/.keep
  packages/client/src/types/.keep
  packages/server/package.json
  yarn.lock
Due: lint, prettier, stylelint, typecheck

fixing
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/main.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

feat(ECH-7): Add router (#7)
  packages/client/jest.config.js
  packages/client/jest.setup.ts
  packages/client/package.json
  packages/client/src/App.test.tsx
  packages/client/src/App.tsx
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/constants/appRoutes.ts
  packages/client/src/main.tsx
  packages/client/src/routes.tsx
  yarn.lock
Due: lint, prettier, typecheck

bind forum to routing
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

feat(ECH-11): добавил страницу входа
  packages/client/src/pages/.keep
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

fix(ECH-11): поправил стили BaseLayout, включил светлую тему, поправил определение текущего роута в меню
  packages/client/src/App.tsx
  packages/client/src/components/BaseLayout/BaseLayout.tsx
Due: lint, prettier, typecheck

docs(ECH-25): добавил генерацию апи в Readme
  README.md
Due: none

fix: Исправлены замечания ревьювера
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/engine/GameObject.ts
  packages/client/src/pages/Game/engine/Obstacle.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/config.ts
  packages/client/src/pages/Game/engine/types.ts
  packages/client/src/pages/Game/helpers/getCanvasContext.ts
  packages/client/src/pages/Game/hooks/useGameSetup.ts
  packages/client/src/pages/Game/hooks/useKeyboardControls.ts
Due: lint, prettier, typecheck

feat(ECH-22): создает базовую механику игры на Canvas API (#9)
  packages/client/src/components/GameView/GameView.module.css
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/Coin.ts
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/engine/GameObject.ts
  packages/client/src/pages/Game/engine/Obstacle.ts
  packages/client/src/pages/Game/engine/Player.ts
  packages/client/src/pages/Game/engine/config.ts
  packages/client/src/pages/Game/engine/types.ts
  packages/client/src/pages/Game/helpers/getCanvasContext.ts
  packages/client/src/pages/Game/hooks/useGameSetup.ts
  packages/client/src/pages/Game/hooks/useKeyboardControls.ts
Due: lint, prettier, stylelint, typecheck

feat(ECH-25): добавляет redux-toolkit, rtk query, генерацию апи (#10)
  .eslintrc.js
  README.md
  package.json
  packages/client/package.json
  packages/client/src/api/.keep
  packages/client/src/api/generated/apiConfig.cjs
  packages/client/src/api/generated/index.ts
  packages/client/src/api/openapiSchema.json
  packages/client/src/main.tsx
  packages/client/src/redux/api.ts
  packages/client/src/redux/store.ts
  yarn.lock
Due: lint, prettier, typecheck

feat(ECH-8): добавлена главная страница
  packages/client/src/components/MainPage/FeatureBlock.module.css
  packages/client/src/components/MainPage/FeatureBlock.tsx
  packages/client/src/components/MainPage/FeatureCard.module.css
  packages/client/src/components/MainPage/FeatureCard.tsx
  packages/client/src/components/MainPage/GalleryBlock.module.css
  packages/client/src/components/MainPage/GalleryBlock.tsx
  packages/client/src/components/MainPage/HeroBlock.module.css
  packages/client/src/components/MainPage/HeroBlock.tsx
  packages/client/src/components/MainPage/ReviewBlock.module.css
  packages/client/src/components/MainPage/ReviewBlock.tsx
  packages/client/src/components/MainPage/ReviewCard.module.css
  packages/client/src/components/MainPage/ReviewCard.tsx
  packages/client/src/components/MainPage/SectionBlock.module.css
  packages/client/src/components/MainPage/SectionBlock.tsx
  packages/client/src/components/MainPage/SectionHeader.module.css
  packages/client/src/components/MainPage/SectionHeader.tsx
  packages/client/src/constants/features.tsx
  packages/client/src/constants/galleryImages.ts
  packages/client/src/constants/userReviews.ts
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/pages/MainPage/index.ts
  packages/client/src/routes.tsx
Due: lint, prettier, stylelint, typecheck

feat(ECH-11): поправил стили
  packages/client/src/pages/Login/Login.tsx
Due: lint, prettier, typecheck

feat(ECH-11): добавляет страницу входа (#13)
  packages/client/src/App.tsx
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/pages/.keep
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

feat(ECH-21): add error boundary (#11)
  packages/client/jest.config.js
  packages/client/src/App.tsx
  packages/client/src/components/ErrorBoundary/ErrorBoundary.test.tsx
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
Due: lint, prettier, typecheck

fix(ECH-8):
  packages/client/src/components/MainPage/FeatureBlock.module.css
  packages/client/src/components/MainPage/FeatureBlock.tsx
  packages/client/src/components/MainPage/FeatureCard.module.css
  packages/client/src/components/MainPage/FeatureCard.tsx
  packages/client/src/components/MainPage/GalleryBlock.module.css
  packages/client/src/components/MainPage/GalleryBlock.tsx
  packages/client/src/components/MainPage/HeroBlock.module.css
  packages/client/src/components/MainPage/HeroBlock.tsx
  packages/client/src/components/MainPage/ReviewBlock.module.css
  packages/client/src/components/MainPage/ReviewBlock.tsx
  packages/client/src/components/MainPage/ReviewCard.module.css
  packages/client/src/components/MainPage/ReviewCard.tsx
  packages/client/src/components/MainPage/SectionBlock.module.css
  packages/client/src/components/MainPage/SectionBlock.tsx
  packages/client/src/components/MainPage/SectionHeader.module.css
  packages/client/src/components/MainPage/SectionHeader.tsx
Due: lint, prettier, stylelint, typecheck

fix(ECH-8): изменено отображения описания
  packages/client/src/components/MainPage/HeroBlock.module.css
  packages/client/src/components/MainPage/HeroBlock.tsx
Due: lint, prettier, stylelint, typecheck

Path conditions:
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,css}
  stylelint: any of: *.css
  typecheck: any of: *.{ts,tsx}
