Repository tropnikov/echo-runner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, stylelint, typecheck

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

stylelint:
  run: yarn stylelint {staged_files} --fix
  stage_fixed: true

typecheck:
  run: yarn typecheck

add leaderboard api
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/LeaderboardPage/HeroBlock.tsx
  packages/client/src/components/LeaderboardPage/LeaderboardTable.tsx
  packages/client/src/components/LeaderboardPage/LeaderboardTablePlayer.tsx
  packages/client/src/components/LeaderboardPage/types.ts
  packages/client/src/constants/leaderboardRecords.ts
  packages/client/src/hooks/useLeaderboard.ts
  packages/client/src/pages/LeaderboardPage/LeaderboardPage.tsx
  packages/client/src/sw.ts
Due: lint, prettier, typecheck

feat: Добавлена обработка CSS на сервере и исправлены TypeScript типы
  package-lock.json
  packages/client/index.html
  packages/client/package.json
  packages/client/server/index.js
  packages/client/server/index.ts
  packages/client/server/types.d.ts
  packages/client/server/types.js
  packages/client/server/types.ts
  packages/client/src/entry-server.tsx
  packages/client/tsconfig.server.json
  packages/client/tsconfig.server.tsbuildinfo
  packages/server/tsconfig.json
  yarn.lock
Due: lint, prettier, typecheck

feat: Настроена сборка.
  packages/client/.gitignore
  packages/client/package.json
  packages/client/public/sw.js
  packages/client/server/index.ts
  packages/client/tsconfig.server.json
  packages/client/tsconfig.server.tsbuildinfo
  packages/client/tsconfig.sw.json
Due: lint, prettier, typecheck

feat: Добавлена поддержка css modules.
  package-lock.json
  packages/client/package.json
  packages/client/server/index.d.ts
  packages/client/server/index.js
  packages/client/server/index.ts
  packages/client/server/types.d.ts
  packages/client/server/types.js
  packages/client/server/utils/cssModulesExtractor.ts
  yarn.lock
Due: lint, prettier, typecheck

refactor: Обновлена утилита извлечения стилей из css modules.
  packages/client/server/index.ts
  packages/client/server/utils/cssModulesExtractor.ts
Due: lint, prettier, typecheck

refactor: Упрощена утилита для извлечения стилей из css modules. Настроена работа сервера в production-е.
  packages/client/server/index.ts
  packages/client/server/utils/cssModulesExtractor.ts
Due: lint, prettier, typecheck

refactor: Удалено кеширование извлеченных из css modules файлов стилей.
  packages/client/server/index.ts
  packages/client/server/utils/cssModulesExtractor.ts
Due: lint, prettier, typecheck

review
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/LeaderboardPage/LeaderboardTable.tsx
  packages/client/src/components/LeaderboardPage/LeaderboardTablePlayer.tsx
  packages/client/src/components/LeaderboardPage/LoadMoreBlock.tsx
  packages/client/src/components/LeaderboardPage/StatsBlock.tsx
  packages/client/src/components/LeaderboardPage/types.ts
  packages/client/src/constants/leaderboardStats.ts
  packages/client/src/hooks/useLeaderboard.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/LeaderboardPage/LeaderboardPage.tsx
  packages/client/src/sw.ts
Due: lint, prettier, typecheck

fix test
  packages/client/src/pages/Game/Game.test.tsx
Due: lint, prettier, typecheck

feat: added ability use sso for auth
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/hooks/useOAuth.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Registration/Registration.tsx
Due: lint, prettier, typecheck

fix score
  packages/client/src/pages/Game/Game.tsx
Due: lint, prettier, typecheck

revert: Откат файлов package-lock.json, packages/client/sw.js, packages/server/tsconfig.json к состоянию ветки dev
  package-lock.json
  packages/client/public/sw.js
  packages/server/tsconfig.json
Due: none

refactor: Упрощена структура маршрутизации и удалены неиспользуемые импорты. client/server/build/ игнорируется eslint.
  .eslintrc.cjs
  packages/client/src/App.test.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/main.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

fix: Обновлен целевой уровень ECMAScript до es2022
  packages/server/tsconfig.json
Due: none

feat:(ECH-43) добавлены метрики производительности через PerformanceApi
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/components/StatsOverlay/StatsOverlay.tsx
  packages/client/src/hooks/usePerformanceStats.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/hooks/useGameSetup.ts
Due: lint, prettier, typecheck

рефактор кода и правки логики. Добавлена кнопка для открытия панели метрик
  packages/client/src/components/GameView/GameView.module.css
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/PerformancePanel/PerformancePanel.module.css
  packages/client/src/components/PerformancePanel/PerformancePanel.tsx
  packages/client/src/components/StatsOverlay/StatsOverlay.tsx
  packages/client/src/hooks/usePerformanceStats.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/hooks/useGameSetup.ts
Due: lint, prettier, stylelint, typecheck

fix ratings api error
  packages/client/src/hooks/useLeaderboard.ts
  packages/client/src/pages/LeaderboardPage/LeaderboardPage.tsx
Due: lint, prettier, typecheck

fix: исправлены метрики производительности и отображение памяти
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/PerformancePanel/PerformancePanel.tsx
  packages/client/src/hooks/usePerformanceStats.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/hooks/useGameSetup.ts
Due: lint, prettier, typecheck

chore(game): исправлены недочеты в хуке usePerformanceStats, исправления движка
  packages/client/src/hooks/usePerformanceStats.ts
  packages/client/src/pages/Game/engine/GameEngine.ts
  packages/client/src/pages/Game/hooks/useGameSetup.ts
Due: lint, prettier, typecheck

revert: Откат redux и router.
  packages/client/index.html
  packages/client/jest.setup.ts
  packages/client/public/sw.js
  packages/client/server/index.ts
  packages/client/server/types.ts
  packages/client/src/App.test.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.ts
  packages/client/src/main.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

revert: Откат packages/client/sw.js к состоянию ветки dev.
  packages/client/.gitignore
  packages/client/public/sw.js
Due: none

feat: Миграция с helmet на helmet-async. Обновлены пакеты. Добавлен в head дефолтный title как fallback.
  packages/client/index.html
  packages/client/jest.setup.ts
  packages/client/package.json
  packages/client/server/types.ts
  packages/client/src/entry-server.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/vite.config.ts
  yarn.lock
Due: lint, prettier, typecheck

fix: Удален package-lock.json
  package-lock.json
Due: none

fix(ECH-37): clear api cache on logout
  packages/client/src/hooks/useLogout.ts
  packages/client/src/sw.ts
Due: lint, prettier, typecheck

chore: Обновлены зависимости и изменен скрипт запуска разработки для клиента
  .gitignore
  packages/client/package.json
  yarn.lock
Due: none

feat(ECH-39): Настроен Express для Server Side Rendering (#34)
  .eslintrc.cjs
  .gitignore
  package-lock.json
  packages/client/.gitignore
  packages/client/index.html
  packages/client/jest.setup.ts
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/server/types.ts
  packages/client/server/utils/cssModulesExtractor.ts
  packages/client/src/entry-server.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/sw.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.server.json
  packages/client/tsconfig.sw.json
  packages/client/vite.config.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lint, prettier, typecheck

chore: remove log
  packages/client/src/hooks/useOAuth.ts
Due: lint, prettier, typecheck

fix: correct redirect after oauth success
  packages/client/src/hooks/useOAuth.ts
Due: lint, prettier, typecheck

fix: removed no need type
  packages/client/src/hooks/useOAuth.ts
Due: lint, prettier, typecheck

fix: correct useCallback and dependencies
  packages/client/src/hooks/useOAuth.ts
Due: lint, prettier, typecheck

fix: remove anon function and change layout
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Registration/Registration.tsx
Due: lint, prettier, typecheck

fix: correct user state update after sso
  packages/client/src/hooks/useAuthCheck.ts
  packages/client/src/hooks/useOAuth.ts
Due: lint, prettier, typecheck

fix: fix build
  packages/client/server/index.ts
Due: lint, prettier, typecheck

wip: first try docker change
  README.md
  docker-compose.yml
Due: none

wip: changed configuration
  Dockerfile.client
  Dockerfile.server
  README.md
  docker-compose.yml
  packages/client/nginx.conf
Due: none

fix(ECH-37): При обновлении страницы после выхода пользователь снова становится авторизованным (#37)
  packages/client/server/index.ts
  packages/client/src/hooks/useLogout.ts
  packages/client/src/sw.ts
Due: lint, prettier, typecheck

fixed for tests
  packages/client/jest.config.js
  packages/client/jest.setup.ts
  packages/client/package.json
  packages/client/src/pages/Game/Game.test.tsx
  yarn.lock
Due: lint, prettier, typecheck

fix: last changes after review
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/hooks/useYandexOAuth.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Registration/Registration.tsx
Due: lint, prettier, typecheck

feat(ECH-40): ssr redux and routing draft
  packages/client/index.html
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/server/types.ts
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.ts
  packages/client/src/main.tsx
  packages/client/src/redux/api.ts
  packages/client/src/redux/store.ts
  packages/client/src/routes.tsx
  packages/client/src/routesConfig.tsx
  packages/client/src/sw.ts
  packages/client/tsconfig.server.json
  yarn.lock
Due: lint, prettier, typecheck

feat(ECH-40): ssr redux prefetch
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.ts
  packages/client/src/hooks/useAuthCheck.ts
  packages/client/src/redux/api.ts
  packages/client/src/redux/store.ts
  packages/client/src/routesConfig.tsx
  packages/client/src/types/pageContext.ts
  yarn.lock
Due: lint, prettier, typecheck

Path conditions:
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,css}
  stylelint: any of: *.css
  typecheck: any of: *.{ts,tsx}
