Repository tropnikov/echo-runner: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, stylelint, typecheck

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

stylelint:
  run: yarn stylelint {staged_files} --fix
  stage_fixed: true

typecheck:
  run: yarn typecheck

fix(ECH-8): добавлен стиль для скролла карточки контена лэйаута
  packages/client/src/components/BaseLayout/BaseLayout.tsx
Due: lint, prettier, typecheck

fix(ECH-8): исправлена версия nodejs и порт
  Dockerfile.client
  Dockerfile.server
Due: none

chore(ECH-8): корректное использование компонента в роутинге
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

feat: Добавлена документация для базовых классов GameEngine и GameObject
  packages/client/docs/gameEngine.md
Due: none

Добавлена страница регистрации с роутом /signup
  .DS_Store
  packages/.DS_Store
  packages/client/src/pages/registration/Registration.tsx
  packages/client/src/pages/registration/index.ts
  packages/client/src/pages/registration/registration.module.css
  packages/client/src/routes.tsx
Due: lint, prettier, stylelint, typecheck

fix(ECH-15): доработана форма регистрации
  packages/client/src/pages/registration/registration.module.css
  packages/client/src/routes.tsx
Due: lint, prettier, stylelint, typecheck

chore: temp rename to fix git case sensitivity
  packages/client/src/pages/__temp/Registration.tsx
  packages/client/src/pages/__temp/index.ts
  packages/client/src/pages/__temp/registration.module.css
Due: lint, prettier, stylelint, typecheck

fix: restore Registration folder with proper casing
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/Registration/index.ts
  packages/client/src/pages/Registration/registration.module.css
Due: lint, prettier, stylelint, typecheck

update: Добавлены классы игровых объектов. Добавлена UML диаграмма.
  packages/client/docs/gameEngine.md
Due: none

fix: Исправлены ошибки в UML диаграмме.
  packages/client/docs/gameEngine.md
Due: none

update: Добавлен сценарий игры и главная страница.
  packages/client/docs/README.md
  packages/client/docs/gameEngine.md
  packages/client/docs/scenario.md
Due: none

fix: Исправлена ошибка в ссылке на страницу сценария.
  packages/client/docs/README.md
Due: none

update: Документация перенесена в корень проекта.
  docs/README.md
  docs/gameEngine.md
  docs/scenario.md
Due: none

fix: Исправлена UML диаграмма
  docs/gameEngine.md
Due: none

feat(ECH-18): добавлена страница настроек пользователя
  packages/client/src/components/ProfilePage/AvatarForm.tsx
  packages/client/src/components/ProfilePage/PasswordForm.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/ProfilePage/index.ts
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

feat: add error page styles
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/components/ErrorPage/ErrorPage.module.css
  packages/client/src/components/ErrorPage/ErrorPage.tsx
  packages/client/src/pages/NotFound/NotFound.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, stylelint, typecheck

feat: add error page styles
  packages/client/src/components/ErrorPage/ErrorPage.tsx
Due: lint, prettier, typecheck

fix(ECH-8): исправлена высота в лэйаут
  packages/client/src/components/BaseLayout/BaseLayout.tsx
Due: lint, prettier, typecheck

fix(ECH-8): декомпозированы экспорты и убраны ненужные классы
  packages/client/src/components/MainPage/FeatureBlock.tsx
  packages/client/src/components/MainPage/FeatureCard.tsx
  packages/client/src/components/MainPage/GalleryBlock.tsx
  packages/client/src/components/MainPage/HeroBlock.tsx
  packages/client/src/components/MainPage/ReviewBlock.tsx
  packages/client/src/components/MainPage/ReviewCard.tsx
  packages/client/src/components/MainPage/SectionBlock.tsx
  packages/client/src/components/MainPage/SectionHeader.tsx
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/pages/MainPage/index.ts
Due: lint, prettier, typecheck

fix(ECH-18): исправлены импорты
  packages/client/src/components/ProfilePage/AvatarForm.tsx
  packages/client/src/components/ProfilePage/PasswordForm.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
Due: lint, prettier, typecheck

fix(ECH-18): убран ненудный реимпорт
  packages/client/src/pages/ProfilePage/index.ts
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

feat(ECH-8): добавлена главная страница (#15)
  Dockerfile.client
  Dockerfile.server
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/components/MainPage/FeatureBlock.module.css
  packages/client/src/components/MainPage/FeatureBlock.tsx
  packages/client/src/components/MainPage/FeatureCard.module.css
  packages/client/src/components/MainPage/FeatureCard.tsx
  packages/client/src/components/MainPage/GalleryBlock.module.css
  packages/client/src/components/MainPage/GalleryBlock.tsx
  packages/client/src/components/MainPage/HeroBlock.module.css
  packages/client/src/components/MainPage/HeroBlock.tsx
  packages/client/src/components/MainPage/ReviewBlock.module.css
  packages/client/src/components/MainPage/ReviewBlock.tsx
  packages/client/src/components/MainPage/ReviewCard.module.css
  packages/client/src/components/MainPage/ReviewCard.tsx
  packages/client/src/components/MainPage/SectionBlock.module.css
  packages/client/src/components/MainPage/SectionBlock.tsx
  packages/client/src/components/MainPage/SectionHeader.module.css
  packages/client/src/components/MainPage/SectionHeader.tsx
  packages/client/src/constants/features.tsx
  packages/client/src/constants/galleryImages.ts
  packages/client/src/constants/userReviews.ts
  packages/client/src/pages/MainPage/MainPage.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, stylelint, typecheck

feat(ECH-12): подключил апи авторизации на страницу входа
  packages/client/src/components/NotificationProvider/NotificationProvider.tsx
  packages/client/src/hooks/useNotification.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/Login/Login.module.css
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/redux/api.ts
  packages/client/src/types/Notification.ts
Due: lint, prettier, stylelint, typecheck

feat(ECH-12): закрыл внутренние роуты за авторизацией
  packages/client/src/components/AuthProvider/AuthProvider.tsx
  packages/client/src/components/BaseLayout/BaseLayout.tsx
  packages/client/src/constants/appRoutes.ts
  packages/client/src/hooks/useAuth.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/redux/slices/auth.ts
  packages/client/src/redux/store.ts
  packages/client/src/routes.tsx
  packages/client/src/types/Auth.ts
Due: lint, prettier, typecheck

add start game view
  packages/client/src/components/GameView/GameView.tsx
  packages/client/src/components/GameView/types.ts
  packages/client/src/components/PlayButton/PlayButton.tsx
  packages/client/src/components/StartGameView/StartGameView.module.css
  packages/client/src/components/StartGameView/StartGameView.tsx
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/ServerError/ServerError.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, stylelint, typecheck

change routes
  packages/client/src/pages/ServerError/ServerError.tsx
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

change routes
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

fix(ECH-33): поправил конфиг prettier
  .prettierrc.mjs
Due: none

fix(ECH-33): поправил конфиг eslint
  .eslintrc.js
Due: none

fix(ECH-33): поправил пакет react-router
  packages/client/package.json
  yarn.lock
Due: none

fix(ECH-33): изменил синтаксис на ES modules
  init.js
  package.json
Due: none

fix(ECH-33): изменил eslintrc.js на eslintrc.cjs
  .eslintrc.cjs
Due: none

fix(ECH-33): убрал any в example test
  packages/server/__tests__/example.test.ts
Due: lint, prettier, typecheck

рефакторинг: удалён index.ts, исправлены импорты FC, заголовок вынесен в Typography, удалены .DS_Store
  .DS_Store
  .gitignore
  packages/.DS_Store
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/Registration/index.ts
  packages/client/src/routes.tsx
Due: lint, prettier, typecheck

fix(ECH-12): поправил импорт react
  packages/client/src/components/NotificationProvider/NotificationProvider.tsx
Due: lint, prettier, typecheck

fixing
  packages/client/src/pages/Forum/TopicList.tsx
Due: lint, prettier, typecheck

feat(ECH-15): added register page (#14)
  .gitignore
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/Registration/registration.module.css
  packages/client/src/routes.tsx
Due: lint, prettier, stylelint, typecheck

fix(ECH-12): поправил логику редиректа для защищенных роутов
  packages/client/src/components/BaseLayout/BaseLayout.tsx
Due: lint, prettier, typecheck

fix(ECH-12): убрал inline стили на странице Login, упростил NotificationProvider
  packages/client/src/components/NotificationProvider/NotificationProvider.tsx
  packages/client/src/pages/Login/Login.module.css
  packages/client/src/pages/Login/Login.tsx
Due: lint, prettier, stylelint, typecheck

Path conditions:
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,css}
  stylelint: any of: *.css
  typecheck: any of: *.{ts,tsx}
